<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Bootstrap/app.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/Profile/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  
  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% include 'includes/_navbar.html' %}
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{% static 'Bootstrap/app.js' %}">
    </script>
  </body>
</html>
