{% extends "orders/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Register {% endblock %}
{% block body %}
<h1>{{ message }}</h1>
<form action="register" method="post">
  <div class="card container my-4" style="width: 30rem;">
    <div class="card-body">
      <h4 class="card-title">Join Today</h4>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary" name="button">Register</button>
      <small class="ml-2">
        Already have an account? <a href="{% url 'login' %}">Sign In</a>
      </small>
    </div>
  </div>
</form>
{% endblock %}
