<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #222222">
      <a class="navbar-brand ml-5" href="{% url 'index' %}">PAW'S</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>

        <ul class="navbar-nav mr-5">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user-circle mr-2"></i>Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-power-off mr-2"></i>Logout</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}"><i class="fas fa-shopping-bag mr-2"></i>Cart</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user mx-1"></i>Login</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user mx-1"></i>Register
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'register' %}"><i class="fas fa-user-circle mr-2"></i>Register as a User</a>
              <a class="dropdown-item" href="{% url 'dealer_register' %}"><i class="fas fa-luggage-cart mr-2"></i>Register Dealership</a>
            </div>
          </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user mx-1"></i>Login</a>
            </li> -->
          {% endif %}
        </ul>
      </div>
</nav>
